<!-- https://github.com/sveltejs/kit/issues/981#issuecomment-894609351 -->
{#if false}<slot />{/if}

<!-- make some columns -->
<div class="columns">
  <!-- 2/5 of the screen wide on the left -->
  <div class="column is-two-fifths">
    <!-- large centered text with margin at top and bottom of 3 -->
    <h1 class="is-size-3 mt-3 mb-3 has-text-centered">
      Some resources that will help on your journey...
    </h1>
    <p>
      Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> for the SvelteKit
      Documentation
    </p>
    <p>
      <a href="https://bulma.io/documentation/overview/start/"
        >https://bulma.io/documentation/overview/start/</a
      > for Bulma Getting Started docs.
    </p>
    <p>
      <a href="https://bulma.io/documentation/form/general/"
        >https://bulma.io/documentation/form/general/</a
      > Bulma Form Example
    </p>
    <p>
      <a href="https://12factor.net/">https://12factor.net/</a> Great information
      on building modern sites.
    </p>
    <p>
      <a href="https://jamstack.wtf/">https://jamstack.wtf/</a> Jamstack - good info
      site
    </p>
    <p>
      <a href="https://jamstack.org/">https://jamstack.org/</a> Jamstack - official
      info site
    </p>
    <p class="mt-5  mt-3 mb-3 is-size-5">
      This is a very simple example, but I hope it will get you going. Enjoy,
      and please let me know if you have any questions!
    </p>
  </div>

  <div class="column">
    <!-- center text -->
    <h1 class="is-size-3 has-text-centered">Form example using Bulma + Svelte</h1>

    <div class="features">
      <div class="container">
        <div class="columns is-centered is-vcentered is-mobile">
          <div class="column is-narrow has-text-centered">
            <div class="form">
              <div class="field mt-5">
                <label class="label">Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Text input" />
                </div>
              </div>

              <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                  <input
                    class="input is-success"
                    type="text"
                    placeholder="Text input"
                    value="bloom!"
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-user" />
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check" />
                  </span>
                </div>
                <p class="help is-success">This username is available</p>
              </div>

              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input
                    class="input is-danger"
                    type="email"
                    placeholder="Email input"
                    value="hello@"
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope" />
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle" />
                  </span>
                </div>
                <p class="help is-danger">This email is invalid</p>
              </div>

              <div class="field">
                <label class="label">Subject</label>
                <div class="control">
                  <div class="select">
                    <select>
                      <option>Select dropdown</option>
                      <option>With options</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <label class="label">Message</label>
                <div class="control">
                  <textarea class="textarea" placeholder="Textarea" />
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" />
                    I agree to the <a href="#">terms and conditions</a>
                  </label>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="question" />
                    Yes
                  </label>
                  <label class="radio">
                    <input type="radio" name="question" />
                    No
                  </label>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-link is-light">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
